*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
}
body{
    background-color: #ffffff;
    opacity: 1;
    background-image:  repeating-linear-gradient(45deg, #f5da89 25%, transparent 25%, transparent 75%, #f5da89 75%, #f5da89), repeating-linear-gradient(45deg, #f5da89 25%, #ffffff 25%, #ffffff 75%, #f5da89 75%, #f5da89);
    background-position: 0 0, 24px 24px;
    background-size: 48px 48px;
    display: flex;
    justify-content: center;
    align-items: end;
    background-position: 50% 50%;
    animation: animacion-fondo 3s linear infinite;
}
#mesa{
    padding-top: 7%;
    width: cover;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#pompurinLove{
    width: 30%;
    min-width: 400px;
    margin-right: 9%;
}
#start{
    color: #ffffff;;
    width: 180px;
    height: 40px;
    background-color: #f7a654;
    border-radius: 10px; 
    border: #ff7e01 solid 3px;
    border-radius: 10px;
    transition: ease-in 0.4s;
}
#start:hover{
    background: #ff7e01;
    color: #fefcf5;
    font-size: 15px;
}
@keyframes animacion-fondo {
    0% {
        background-position: 0 0, 24px 24px;
    }
    100% {
        background-position: 0 100px, 24px 124px; /* Ajusta los valores según sea necesario para el movimiento deseado */
    }
}
#context{
    width: 80%;
    position: fixed;
    font-family: "Kalam", cursive;
    font-size: 22px;
    bottom: -4100px;
    text-align: center;
}
img{
    width: 45%;
}
.especial{
    width: 28%;
}
video{
    width: 50%;
}
@media only screen and (max-width: 480px) {
    #context{
        bottom: -5320px;
    }
}
@media only screen and (max-width: 480px) {
.img, .especial{
    width: 88%; /* Cambia el ancho al 80% en dispositivos móviles */
}
}
@media only screen and (max-width: 480px) {
    .especial3, video{
        width: 98%;
    }
}
