*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
}
body{
    background-color: #ffffff;
    opacity: 1;
    background-image:  repeating-linear-gradient(45deg, #f5da89 25%, transparent 25%, transparent 75%, #f5da89 75%, #f5da89), repeating-linear-gradient(45deg, #f5da89 25%, #ffffff 25%, #ffffff 75%, #f5da89 75%, #f5da89);
    background-position: 0 0, 24px 24px;
    background-size: 48px 48px;
    display: flex;
    justify-content: center;
    align-items: end;
}
#pompurinLove{
    width: 30%;
    min-width: 400px;
    margin-top: 60%;
    margin-right: 7%;
}
#start{
    color: #ffffff;;
    width: 180px;
    height: 40px;
    position: absolute;
    bottom: 18%;
    background-color: #f7a654;
    border-radius: 10px; 
    border: #ff7e01 solid 3px;
    border-radius: 10px;
    transition: ease-in 0.4s;
}
#start:hover{
    background: #ff7e01;
    color: #fefcf5;
    font-size: 15px;
}
